/*Making all code blocks look the same*/
details div pre, div.highlight-wrapper div.highlight pre, div pre, code {
    background-color: rgba(13, 17, 23, 0.75);
    color: rgb(203, 213, 225)
}
code {
    font-weight: 400;
}

/*Making the paragrapgs more readable*/
p {
    margin: 1.25em 0;
    line-height: 1.4em;
}

/*Adusting margins of different text elements*/
li {
    margin: 0;
}
ol {
    margin: 0 0 1em 0.75em;
}
.highlight-wrapper {
    margin: 0 0.5em 0 0
}

/*Fixing padding so that thumbnails have the same spacing on top and bottom*/
section article.article-link--card div.p-4 {
    padding: 0 calc(var(--spacing) * 4);
}

/*Fixing spacing for the article summery*/
div#CardViewProse div.article-link__summary {
    margin-top: 0.75em;
}

/*Making margin between articles in the blog website smaller*/
section article.article-link--simple {
    margin-block-end: calc(calc(var(--spacing) * 5) * calc(1 - var(--tw-space-y-reverse)));
}